<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720586762099-ng0meonofkvgep6od2sb75sr6i049jgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720586762099-ng0meonofkvgep6od2sb75sr6i049jgo</string>
	<key>API_KEY</key>
	<string>AIzaSyAUvjQJ-DSOIp8XRgUBDNVu1nMxLJz17XI</string>
	<key>GCM_SENDER_ID</key>
	<string>720586762099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-effdc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-effdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720586762099:ios:bf26365815d0cfcc094706</string>
</dict>
</plist>